body {
  background-attachment: fixed;
  background-image: url("original.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border: 2px solid rgb(184, 184, 184);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    padding: 5px 15px;
}

  header * {
    margin-right: 15px;
  }
  header img{
    height:50px;
    width: auto;
  }

  .Donate {
    position: fixed;
    right:0px;
    margin: 6px 15px;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    font-size: 16px;
    padding: 12px;
  }

  .Donate:hover{
    background: #27437c;
  }

nav {
    height: 100%;
    background: white;
    border-radius: 16px;
    padding: 5px 25px 60px 25px;
    margin: 10px;
}

section {
    max-width: 714px;
    min-width: 714px;
    box-sizing: border-box;
}

    section iframe, section img {
      border-radius: 20px;
      margin-top: 20px;
      width: 640px;
      height: 360px;
    }
    

    section article {
        background: white;
        border-radius: 16px;
        padding: 5px 25px;
        margin: 10px;
    }
  

aside {
    width: ;
    height: 100%;
    background: white;
    border-radius: 16px;
    padding: 5px 25px 60px 25px;
    margin: 10px;
}

a{
  text-decoration: none;
  color: black;
}

article a, #show {
  color: #001eff;
}

#Post3Photo {
  display: block;
  margin: 10px auto;
  height: auto;
  width: 320px;
}

#myBtn{
  background: none;
  border: none;
  margin-bottom: 15px;
  font-size: 15px;
  color: #0000b3;
  font-weight: bold;
}

#myBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

#more {
  display: none;
}

@media (max-width:1000px) {
  section {
    max-width: 500px;
    min-width: 500px;
  }
    section iframe, section img {
        width: 426px;
        height: 240px;
      }
